@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../node_modules/aos/dist/aos.css";
@import "../../node_modules/swiper/swiper.css";
// @import '../../build.css';

body {
  min-height: 200vh;
}
